<div class="cardBody">
<div class="head">
	Sign Up
</div><br>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>
<br /><br />
	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>
<br /><br />
	  <div><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></div>
<br />
	  <div><%= f.submit "Sign up", class: "btn btn_solid"%></div>
	<% end %>
<br />
	<%= render "devise/shared/links" %>
</div>